* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightsteelblue;
    height: 100vh;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

.comments {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.newComment {
    font-size: 14px;
    padding: 1%;
}

.add-comment {
    width: 100%;
    height: max-content;
}

.add-form {
    width: 100%;
    height: max-content;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.error {
    height: 20px;
    color: red;
}

.comment {
    width: 96%;
    padding: 1%;
    resize: none;
}

.comment::placeholder {
    padding: 1%;
}

.button-send {
    background-color: darkblue;
    color: aliceblue;
    font-size: 18px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.button-send:hover {
    background-color: blue;
}

.button-clear {
    background-color: darkcyan;
    color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    right: 3%;
    bottom: 25%;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-clear:hover {
    background-color: cyan;
    color: black;
}

.user-photo {
    width: 100px;
    height: 100px;
}

.user {
    display: flex;
    flex-direction: column;
}

.item {
    border-bottom: 1px solid lightgray;
    display: flex;
}

label {
    font-weight: bold;
    color: darkgreen;
}

.about-user {
    width: 96%;
    padding-bottom: 1%;
}

.login {
    width: 30%;
    height: 30px;
}

.photo {
    width: 68%;
    height: 30px;
}